<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pro">
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><a class="btn btn-primary" href="#" role="button" routerLink="/detail/{{item.id}}">Xem thêm</a></td>
        </tr>
    </tbody>
</table>